@import '../../variables.scss';

.container {
    box-shadow: 0 0 0.2em 0 var(--light-blue);
    transition: 0.3s;
    border-radius: 0.3em;
    padding: 0.2em;
    justify-content: center;
    
    * {
        text-align: center;
    }
}
.container:hover {
    box-shadow: 0 0 0.4em 0.1em var(--light-blue);
    cursor: pointer;
}