@import 'variables.scss';

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: var(--light-blue);

    > a {
        font-size: 2rem;
        color: blue;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: end;
        margin-left: auto;
    }

    li {
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: inline-block;
        font-size: 1.1rem;
    }
}

.border-orange-hover:hover, .border-orange-hover:focus {
    border: 0.1em solid var(--orange);
    border-radius: 1em;
}

.button {
    display: inline-block;
    padding: 0.5em;

    border: 0.1em solid transparent;
    border-radius: 1em;
}

h1 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

nav {
    margin-bottom: 1em;
}